body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    min-height: 1000px;
}

header {
    background-color: #060255;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.nas {
    font-size: 60px;
    font-family: arial;
}

nav {
    background-color: rgb(165, 164, 164);
    padding: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 22px;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

article {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#contact {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin: 10px 0 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 175px;
    font-size: 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    font-size: 18px;
    color: black;
}

.section-heading {
    font-size: 40px;
    font-weight: bold;
    padding-left: 1px;
    margin-bottom: 10px;
}

.sub-heading {
    font-size: 26px;
    font-weight: bold;
    color: black;
    padding-top: 5px;
}

.over-line {
    border-top: 1px solid black;
}

.job-title {
    font-size: 28px;
    border-top: 1px solid black;
    padding-top: 5px;
    display: flex;
}

.company-name {
    font-size: 18px;
    text-align: right;
    margin-left: auto;
    padding-top: 3px;
}

.dates {
    color: rgb(87, 87, 87);
}

h2, h3 {
    margin: 0;
    padding-top: 2px;
    text-align: center;
}

.center {
    text-align: center;
}

.bubble {
    margin: 0 0 20px;
    padding: 5px 20px 10px;
    background-color: white;
    outline: 2px solid rgb(120, 150, 236);
    border-radius: 15px;
    font-size: 18px;
    color: black;  
    box-shadow: 8px 8px 10px rgb(44, 44, 44);
}

.transcript-container {
    margin-top: 15px;
    font-size: 22px;
    display: flex;
}

.transcript-L {
    flex: 1;
}

.transcript-R {
    padding-right: 5px;
    text-align: center;
}

.large-text {
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid gray;
}

footer {
    height: 50px;
    background-color: #060255;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: snow;
    text-decoration: none;
    font-size: 14px;
}

.short-page {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.picture-block-container {
    display: flex;
}

.picture-block-left {
    display: flex;
    flex-direction: column;
}

.picture-block-right {
    display: flex;
    align-items: center;
}

img {
    margin-left: 20px;
    border-radius: 10px;
}