@charset "UTF-8";

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}



*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(35, 112, 199), black);
  margin: 0;
  padding: 0;
  
}

#bgIMG {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 200vh;
  width: 200vw;
  background-size: 75%;
  z-index: -2;
}

#bgOverlay {
  position: absolute;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

h1 {
  position: absolute;
  color: white;
  justify-self: center;
  top: 50px;
}


.carousel {
  position: static;
  height: 500px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}



#career, #program, #music, .career-container,
.program-container, .music-container {
  position: absolute;
  border-radius: 200px;
  height: 400px;
  width: 400px;
}

#career-button, #program-button, #music-button,
.career-outline, .program-outline, .music-outline {
  border: none;
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 200px;
  background-color: transparent;
  font-size: 30px;
  font-weight: 600;
}

#career-button:disabled, #music-button:disabled {
  color: black;
}

.career-outline, .program-outline, .music-outline {
  border: 7px solid black;
  height: 392px;
  width: 392px;
  left: -2px;
  top: -2px;
}

#career {
  background-image: url('img-home/Degrees.jpg');
  background-size: cover;
  top: -200px;
  z-index: 3;
  transition: transform 1s ease;
}



#shadow-career, #shadow-program, #shadow-music    {
  position: absolute;
  background: radial-gradient(30% 20%, black 20%, rgba(0, 0, 0, 0) );
  bottom: 0%;
  left: -50%;
  height: 100%;
  width: 200%;
  z-index: 0;
}

#program {
  background-image: url('img-home/new_index_code.png');
  background-size: cover;
  z-index: 3;
  transition: transform 1s ease;
}

.program-container {transform: scale(0.75) translate(-350px, 300px);}
.music-container {transform: scale(0.75) translate(350px, 300px);}

#shadow-program, #shadow-music {
  bottom: -50%;
}

#program-button {
  color: white;
  box-shadow: inset 10px 0 35px 25px black;
  z-index: 10;
}

#music-button {
  box-shadow: inset 0 10px 35px 25px black;
  z-index: 10;
}

#career-button {
  box-shadow: inset 0 0 35px 25px black;
  z-index: 10;
}

#music {
  background-image: url('img-home/temp_MP.JPG');
  background-size: cover;
  z-index: 1;
  transition: transform 1s ease;
}

#career:hover, #program:hover, #music:hover {
  transform: translateY(-100px);
}



@media (max-width: 600px) {
  html {
    overflow-y: visible;

  }

  .career-container {
    top: 150px;
    transform: scale(0.75);
  }
  .program-container {
    top: 350px;
    transform: scale(0.75);
  }
  .music-container {
    top: 700px;
    transform: scale(0.75);
  }
  .carousel {
  position: static;
  height: 500px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}