@charset "UTF-8";

html {
  width: 100dvw;
  overflow-x: hidden;
}



*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  position: relative;
  background-color: rgb(26, 26, 26);
  margin: 0;
  padding: 0;
}

#bgIMG {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 200vh;
  width: 200vw;
  background-image: url('');
  background-size: 75%;
}

#bgOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  top: 0;
  left: 0;
  height: 200vh;
  width: 200vw;
}

h1 {
  position: absolute;
  color: white;
  justify-self: center;
  top: 50px;
}


.carousel {
  position: relative;
  height: 500px;
  width: 900px;
  top: 15vh;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#career, #program, #music {
  position: absolute;
  border-radius: 150px;
  height: 300px;
  width: 300px;
}

#career-button, #program-button, #music-button,
.career-outline, .program-outline, .music-outline {
  border: none;
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-color: transparent;
  font-size: 25px;
  font-weight: 600;
}

#career-button:disabled, #music-button:disabled {
  color: black;
}

.career-outline, .program-outline, .music-outline {
  border: 6px solid black;
  height: 294px;
  width: 294px;
  left: -3px;
  top: -3px;
}

#career {
  background-image: url('img-home/Degrees.jpg');
  background-size: cover;
  z-index: 3;
  transition: box-shadow 1s ease;
}

#career:not(.no-hover):hover, #program:not(.no-hover):hover,
#music:not(.no-hover):hover {
  box-shadow: 0 0 100px 20px rgb(201, 172, 10);
}

#program {
  background-image: url('img-home/new_index_code.png');
  background-size: cover;
  transform: scale(0.75) translate(-250px, -25px);
  z-index: 1;
  transition: box-shadow 1s ease;
}

#program-button {
  color: white;
  box-shadow: inset 10px 0 35px 25px black;
  z-index: 10;
}

#music-button {
  box-shadow: inset 0 10px 35px 25px black;
  z-index: 10;
}

#career-button {
  box-shadow: inset 0 0 35px 25px black;
  z-index: 10;
}

#music {
  background-image: url('img-home/temp_MP.JPG');
  background-size: cover;
  transform: scale(0.75) translate(250px, -25px);
  z-index: 1;
  transition: box-shadow 1s ease;
}

#left, #right {
  background-image: radial-gradient(160px 300px, rgba(0, 0, 0, 0.9) 20%, white);
  border: none;
  border-radius: 20px;
  position: absolute;
  height: 100px;
  width: 100px;
  align-self: center;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  z-index: 5;
  transition: transform 0.5s ease;
}

#left {
  left: -20px;
}

#right {
  right: -20px;
}

#left:hover, #right:hover {
  transform: scale(1.2);
}

#left:active, #right:active {
  transform: scale(0.95);
}

.left-arrow {
  height: 50px;
  margin-left: 15px;
}

.right-arrow {
  height: 50px;
  margin-left: 20px;
}
