* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: white;
}



/* Home Page */
.main-area {
    height: 100%;
    width: 100%;
    display:flex;
    flex: 1 1 auto;
    background-color: gray;
}

.selection-menu-home-page {
    margin-top: 50px;
    border: 5px solid rgb(105, 69, 1);
    background-color: rgb(212, 131, 8);
    border-radius: 15px;
    height: 500px;
    width: 50%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    /* Flex Menu Buttons*/
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 25px 50px 50px;
    row-gap: 30px;
}

.menu-buttons-home-page {
    background-color: rgb(24, 24, 24);
    border: 3px outset rgb(24,24,24);
    border-radius: 20px;
    height: 80px;
    width: 75%;
    color: white;
    font-size: 30px;
    font-weight: 900;
    line-height: 80px;
    text-align: middle;
    text-decoration: none;
    cursor: default;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.08s ease;
    flex-shrink: 1;
    padding: 0 20px;
}
.menu-buttons-home-page:hover {
    background-color: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
}
.menu-buttons-home-page:active {
    transform: scale(0.97);
}

/*                      Pages                                */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

header {
    background-color: rgb(13, 7, 19);
    height: 75px;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#side-bar-button::before {
    content: "\2630";
}

#side-bar-button {
    background-color: rgb(9, 5, 14);
    border: 1px solid rgb(39, 39, 39);
    font-size: 22px;
    line-height: 35px;
    text-align: middle;
    color: white;
    height: 40px;
    width: 40px;
    margin: 0 20px;
    z-index: 1;
    transition: background-color 0.2s ease;
}
#side-bar-button:hover {
    background-color: rgb(32, 32, 32);
}
.side-bar-label {
    font-size: 16px;
}
.page-title {
    font-size: 36px;
    font-weight: 600;
    height: 55px;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

aside {
    background-color: rgb(9, 5, 14);
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 75px;
    row-gap: 25px;
    padding-top: 25px;
}

#side-bar {
    width: 15%;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
#side-bar.open {
    transform: translateX(0%);
}

#page-link {
    display: block;
    margin-left: 35%;
}

/* End header and side bar */




.main {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(39, 39, 39);
    height: 80vh;
    width: 75vw;
    justify-self: center;
    padding-top: 25px;
    row-gap: 1rem;
}

.current-container {
    height: 15rem;
    text-align: center;
}

.current-display {
    display: flex;
    flex-basis: 100px;
    padding: 3rem 2rem 0;
    font-size: 25px;
    font-weight: 600;
    justify-content: space-around;
}
.bubble-display {
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    height: 3rem;
    line-height: 3rem;
    text-align: middle;
    background-color: white;
}

.labels-bar {
    /* Same as current-display, shows type of workout and says 'sets' 'reps'*/
    display: flex;
    flex-basis: 100px;
    padding: 5px 2rem;
    font-size: 25px;
    justify-content: space-around;
    
}
.labels {
    /* Same as bubble-display so they stay locked to each other*/
    border-radius: 10px;
    color: white;
    height: 3rem;
    font-size: 18px;
}

#name, #muscle-group {
    width: 50%;
    flex: 1 0 auto;

}

#sets, #sets-label {
    width: 15%;
    margin: 0 5%;
    flex: 0 1 auto;
}


#reps, #reps-label {
    width: 15%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

#skip, #done, #begin {
    border-radius: 10px;
    border: 2px outset rgb(143, 143, 143);
    color: black;
    font-size: 22px;
    font-weight: 900;
    height: 3rem;
    width: 10rem;

}

#begin {
    width: 10rem;
    background-color: rgb(212, 131, 8);
}
#skip {
    background-color: red;
}

#done {
    background-color: green;
}

.completed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;

}

.completed-workouts-title {
    width: 95%;
    text-align: center;
    margin: 1rem 0 0.5rem;
    padding-bottom: 0.2rem;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: white;
}

#completed-list {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 95%;
}
.list-right {
    justify-self: end;
}

.hidden {
    display: none;
}

@media (max-width: 550px) {
    .main {
        padding: 1%;
        width: 99vw;
    }
    #page-link {
        margin-left: 26%;
    }
    .page-title {
        justify-content: flex-end;
        right: 5%;
        font-size: 30px;
        top: 15px;
    }
    #side-bar {
        width: 23%;
    }
    #begin {
        font-size: 16px;
    }
    .current-display {
        display: grid;
        grid-template-columns: 50vw 50vw;
        font-size: 20px;
        padding:0;
        margin-top: 10px;
        row-gap: 0;
    }
    #name, #muscle-group {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 98vw;
    }
    #sets, #reps, #sets-label, #reps-label {
        width: 50%;
        justify-self: center;
    }

    #muscle-group, #sets-label, #reps-label {
        margin-top: 5px;
    } 
    
    .buttons-container {
        column-gap: 15%;
    }

    #completed-list {
        font-size: 18px;
    }
}