html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    background-image: url('img/casino_03.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1;
}

#main-area {
    outline: 10px solid rgb(1, 56, 1);
    background-color: rgb(20, 90, 30);
    min-height: 705px;
    width: 1200px;
    display: flex;
    justify-content: center;
    padding: 40px 20px 20px 20px;
}

.main-left {
    height: 620px;
    width: 750px;
    margin-right: 30px;
}

.main-right {
    outline: 2px solid white;
    height: 600px;
    width: 350px;
}

.side-bets-grid {
    height: 500px;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.dc-pb-parent {
    height: 200px;
    width: 100%;
    display: flex;
}

.dont-come-line {
    width: 120px;
    padding: 2px;
    display: flex;
}

.dc-pb {
    width: 100%;
}

.dont-come-row {
    height: 60px;
    padding: 2px;
    display: flex;
}

.placebet-row {
    height: 116px;
    margin-top: 16px;
    padding: 2px;
    display: flex;
}

.test-container {
    outline: 2px solid white;
    height: 100px;
    width:  100px;
}
/* ///////////////////////// BUTTONS ///////////////////////////////////////// */
button {
    background-color: transparent;
    border: none;
}
.on-puck {
    margin: -50px 0 10px 0;
    padding: 0;
    position: relative;
    z-index: -1;
}

#number-box-4, #number-box-5, #number-box-6,
#number-box-8, #number-box-9, #number-box-10 {
    outline: 2px solid white;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 0px black;
    height: 100%;
    width: 100%;
    z-index: 0;
    padding-bottom: 10px;
}

.come-bet-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#come-4, #come-5, #come-6,
#come-8, #come-9, #come-10 {
    color: rgb(194, 6, 6);
    height: 40px;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    margin: 0 0 0 -5px;
}
#come-4-odds, #come-5-odds, #come-6-odds,
#come-8-odds, #come-9-odds, #come-10-odds {
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-top: 20px;
    text-shadow: none;
    padding-left: 5px;
}

#dont-come {
    outline: 2px solid white;
    color:tan;
    text-shadow: 2px 2px 0px black;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    height: 239px;
    width: 100%;
}
.dont-come-label {
    margin-top: 50px;
}
#dont-come-chips-display {
    color: tan;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    text-align: middle;
    text-align: center;
}
.dont-come-text {
    outline: 2px solid white;
    color: tan;
    text-shadow: 2px 2px 0px black;
    font-size: 25px;
    font-weight: 600;
    line-height: 60px;
    width: 100%;
    text-align: center;
    padding-right: 10px;
    z-index: 1;
}

#dc-4, #dc-5, #dc-6, #dc-8, #dc-9, #dc-10 {
    position: relative;
}




.place-bet-display-row {
    height: 40px;
    width: 746px;
    display: flex;
    flex-direction: row;
    margin: 1px 0 0 2px;
}
.place-boxes-text {
    outline: 2px solid white;
    height: 100%;
    width: 100%;
}
#place-blank {
    outline: none;
    margin-right: 10px;
}
#come {
    outline: 2px solid white;
    height: 75px;
    width: 746px;
    
    margin-left: 170px;
    margin: 5px 0 0 2px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.come-label {
    color: rgb(194, 6, 6);
    text-shadow: 2px 2px 0px black;    
    font-weight: 900;
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
    align-self: center;
    margin-left: 265px;
}

#come-chips-display {
    color: rgb(194, 6, 6);
    text-shadow: 2px 2px 0px black;
    font-size: 30px;
    font-weight: 600;
    line-height: 75px;
    text-align: middle;
    width: 100px;
    margin-left: 89px;
}
#place-4, #place-5, #place-6,
#place-8, #place-9, #place-10 {
    color: yellow;
    text-shadow: 2px 2px 0px black;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-align: middle;
}




#field {
    outline: 2px solid white;
    color: yellow;
    text-shadow: 2px 2px 0px black;
    height: 100px;
    width: 746px;
    line-height: 35px;
    margin: 5px 0 0 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.field-label {
    font-size: 25px;
    word-spacing: 15px;
    vertical-align: middle;
    text-align: center;
    align-self: center;
    margin-left: 170px;
}
#field-chips-display {
    font-size: 30px;
    line-height: 100px;
    text-align: middle;
    width: 100px;
    margin-left: 70px;
}

#dont-pass {
    outline: 2px solid white;
    color: white;
    text-shadow: 2px 2px 0px black;
    font-size: 20px;
    height: 35px;
    width: 746px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    margin: 15px 0 0 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dont-pass-label {
    margin-left: 150px;
}
#dont-pass-chips-display {
    font-size: 25px;
    color: yellow;
    width: 100px;
    margin-left: 50px;
}

#pass-line {
    outline: 2px solid white;
    background-color: rgb(20, 90, 30);
    color: yellow;
    text-shadow: 2px 2px 0px black;
    font-size: 35px;
    font-weight: 600;
    height: 50px;
    width: 746px;
    line-height: 50px;
    word-spacing: 10px;
    vertical-align: middle;
    text-align: center;
    margin: 5px 0 0 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pass-line-label {
    margin-left: 150px;
}
#pass-line-chips-display {
    width: 100px;
    margin-left: 50px;
}

/*.side-bets-dice-display {}*/

#hw-6-text, #hw-8-text, #hw-4-text, #hw-10-text,
#craps-3-text, #craps-2-text, #craps-12-text, #craps-11-text {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

#seven-bet {
    outline: 2px solid white;
    color: white;
    text-shadow: 2px 2px 0px black;
    height: 50px;
    width: 100%;
    vertical-align: middle;
}

#hardways-6, #hardways-10, #hardways-8, #hardways-4, 
#craps-3, #craps-12, #craps-11, #craps-2 {
    outline: 2px solid white;
    color: white;
    text-shadow: 2px 2px 0px black;
    line-height: 10px;
    padding-top: 0px;
}

#any-craps {
    outline: 2px solid white;
    color: white;
    text-shadow: 2px 2px 0px black;
    height: 50px;
    width: 100%;
}

#off-puck {
    height: 70px;
    width: 110px;
    margin: 20px 0 0 110px;
}

/* --------------------------Betting Section --------------------------*/
#pass-line-odds {
    color: yellow;
    text-shadow: 2px 2px 0px black;
    font-size: 30px;
    font-weight: 600;
    height: 40px;
    width: 746px;
    margin: 5px 0 0 2px;
    display: flex;
    justify-content: center;
    padding-left: 400px;
}

.bet-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: -5px;
}

#pull-back-button {
    outline: 2px solid black;
    background-color: rgb(53, 69, 161);
    border-color: rgb(53, 69, 161);
    color: white;
    font-size: 25px;
    width: 85px;
    height: 120px;
    margin-top: 20px;
    padding-right: 10px;
    border-radius: 5px;
    border-style: outset;
    transition: background-color 0.1s ease, border-color 0.1s ease, 
                transform 0.02s ease;
}
#pull-back-button:hover {
    background-color: rgb(29, 49, 160);
    border-color: rgb(29, 49, 160);
}

#bet-left {
    width: 250px;
    height: 125px;
    margin: 10px;
    justify-items: center;
    font-size: 30px;
    color: rgb(233, 229, 13);
    font-weight: 600;
    padding-top: 20px;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px 140px;
}

#staged-bet { 
    text-shadow: 2px 2px 0px black;
    padding-top: 30px;
    font-size: 35px;
    font-weight: 600;
}

.bet-right {
    width: 100%;
    height: 130px;
    display: grid;
    grid-column: inherit;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 10px;
    padding: 10px 0;
}

#increment1, #decrement1, #increment5, 
#decrement5, #twenty-five, #thirty, 
#two-fifty, #one-hundred {
    outline: 2px solid black;
    border-radius: 5px;
    height: 50px;
    width: 80px;
    font-weight: 600;
    font-size: 22px;
    border-style:outset;
    transition: background-color 0.1s ease, border-color 0.1s ease,
                transform 0.02s ease;
}

#increment1:active, #decrement1:active, #increment5:active, 
#decrement5:active, #twenty-five:active, #thirty:active, 
#two-fifty:active, #one-hundred:active, #pull-back-button:active {
    transform: scale(0.97);
}

#increment1, #decrement1 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
#increment1:hover, #decrement1:hover {
    background-color: rgb(196, 196, 196);
    border-color: rgb(196, 196, 196);
}

#increment5, #decrement5 {
    background-color: rgb(145, 5, 0);
    color: white;
    border-color: rgb(145, 5, 0);
}
#increment5:hover, #decrement5:hover {
    background-color: rgb(116, 22, 6);
    border-color: rgb(116, 22, 6);
}

#twenty-five {
    background-color: rgb(11, 153, 11);
    border-color: rgb(11, 153, 11);
}
#twenty-five:hover {
    background-color: rgb(6, 122, 6);
    border-color: rgb(6, 122, 6);
}
#thirty {
    background-color: rgb(199, 112, 14);
    border-color: rgb(199, 112, 14);
}
#thirty:hover {
    background-color: rgb(163, 91, 8);
    border-color: rgb(163, 91, 8);
}
#two-fifty {
    background-color: rgb(0, 87, 121);
    border-color: rgb(0, 87, 121);
    color: white;
} 
#two-fifty:hover {
    background-color: rgb(1, 76, 105);
    border-color: rgb(1, 76, 105);
} 
#one-hundred {
    background-color: black;
    border-color: black;
    color: white;
}
#one-hundred:hover {
    background-color: rgb(34, 34, 34);
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^ END BETTING SECTION ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.bottom-container {
    border-color: rgb(1, 56, 1);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    background-color: rgb(20, 90, 30);
    font-size: 25px;
    width: 1200px;
    min-height: 110px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bankroll-container {
    outline: 5px solid black;
    background-color: rgb(22, 22, 22);
    box-shadow: 6px 6px 12px black;
    width: 300px;
    min-height: 130px;
    border-radius: 30px;
    margin: 0 0 10px 0;
}

.bankroll-label {
    font-size: 35px;
    margin: 10px 0 0 90px;
}
#bankroll {
    color: rgb(215, 231, 67);
    font-weight: 900;
    font-size: 60px;
    margin: -10px 0 0 50px;
}

#roll-button {
    /*Big roll button, bottom middle*/
    outline: 2px solid black;
    background-color: rgb(173, 143, 7);
    color: white;
    height: 80px;
    width: 280px;
    font-size: 40px;
    font-weight: 600;
    padding: 0 25px;
    border-radius: 10px;
    border-style: outset;
    border-width: 10px;;
    border-color: rgb(173, 143, 7);
    margin-top: 20px;
}
#roll-button:hover {
    background-color: rgb(155, 127, 5);
    border-color: rgb(155, 127, 5);
    transition: 0.05s ease-in;

}
#roll-button:active {
    transform: scale(0.95);
}

#dice-display {
    /*Bottom Right, holds the dice imgs*/
    margin: -30px 60px 0 0;
}
#dice1, #dice2 {
    /*imgs of the dice, src is changed by js*/
    height: 150px;
    width: 150px;
}

.info-displays {
    /*Div underneath main area*/
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 1200px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}
#money-on-table {
    /* Bottom left shows how much money is currently on table*/
    width: 100px;
    margin-left: 10px;
}

#roll-box {
    /*text display shows what number was rolled and what was scored (won $25, 7 out, etc)*/
    width: 300px;
    margin-left: 90px;
    text-align: center;
}

#message-box {
    width: 350px;
    margin-left: 100px;
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
    margin-bottom: 2px;
}

#message-2 {
    color: rgba(255, 255, 255, 0.671);
}
#message-3 {
    color: rgba(255, 255, 255, 0.733);
}
#message-4 {
    color: rgba(255, 255, 255, 0.521);
}
#message-5 {
    color: rgba(255, 255, 255, 0.356);
}